@inject HttpClient _client

<EditForm Model="@reservation" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label>User: </label>
            <div>
                <InputSelect @bind-Value="reservation.AppUserId" class="form-control">
                    <option value="">-- Select AppUser --</option>
                    @if (AppUsers != null)
                    {
                        foreach (var appuser in AppUsers)
                        {
                            <option value="@appuser.Id">@appuser.Name</option>}
                    }
                </InputSelect>
                <ValidationMessage For="@(() => reservation.AppUserId)" />
            </div>
        </div>

        <div class="form-group">
            <label>Group Size: </label>
            <div>
                <InputNumber @bind-Value="@reservation.GroupSize" class="form-control" />
                <ValidationMessage For="@(() => reservation.GroupSize)" />
            </div>
        </div>
        <div class="form-group">
            <label>DateTime: </label>
            <div>
                <InputDate @bind-Value="@reservation.DateTime" class="form-control" />
                <ValidationMessage For="@(() => reservation.DateTime)" />
            </div>
        </div>
    </fieldset>
        @if (!Disabled)
        {
            <button type="submit" class="btn btn-success btn-block">
                @ButtonText
            </button>}
        <BackToList Target="reservations" />
</EditForm>

@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public Reservation reservation { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    private IList<AppUser> AppUsers;

    protected async override Task OnInitializedAsync()
    {
        AppUsers = await _client.GetFromJsonAsync<List<AppUser>>($"{Endpoints.AppUsersEndpoint}");
    }
}